<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CntCarPub" value="280"/>
		<add key="CntImgPub" value="3"/>
		<add key="ServerIpAddress" value="127.0.0.1"/>
		<add key="ServerPort" value="20000"/>
		<add key="ServerTCPLiPort" value="6000"/>
		<add key="ClientIpAddress" value="127.0.0.1"/>
	</appSettings>
</configuration>