<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerIpAddress" value="127.0.0.1"/>
		<add key="ServerPort" value="6123"/>
		<add key="TmpMostrarPub" value="10"/>
		<add key="TopSeguidores" value="5"/>
		<add key="TopMasUsos" value="5"/>
	</appSettings>
</configuration>